.parant{
    @apply flex  justify-center items-center flex-col text-center lg:w-[80%] xs:w-[90%] w-full mx-auto;
}

.bg_image{
    width: 100%;
    background-image: url('../../../assets/bgImages/blue-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @apply py-[120px] pb-[350px] relative z-10
}
.img_wrapper{
    @apply flex w-full justify-center relative
}
.image{
    @apply absolute top-[-280px] z-10;
}